<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="solution.Feed1">
        <endpoint address="Feed" behaviorConfiguration="solution.Feed1Behavior"
                  binding="webHttpBinding" contract="solution.IFeed1"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8734/Design_Time_Addresses/solution/" />
          </baseAddresses>
        </host>
        <endpoint contract="solution.IFeed1" address="Feed1" binding="webHttpBinding" behaviorConfiguration="solution.Feed1Behavior"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="solution.Feed1Behavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name ="solution.Feed1Behavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>