<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Get_IISHandler1" path="/*.TAV" verb="GET" type="lab1.IISHandler1" />
      <add name="Post_IISHandler1" path="/*.TAV" verb="POST" type="lab1.IISHandler1" />
      <add name="Put_IISHandler1" path="/*.TAV" verb="PUT" type="lab1.IISHandler1" />
      <add name="Delete_IISHandler1" path="/*.TAV" verb="DELETE" type="lab1.IISHandler1" />
      <add name="HtmlPage1" path="/" verb="GET" type="lab1.IISHandler2" />
    </handlers>
  </system.webServer>
</configuration>